/*
This file is part of phpLudoreve.

    phpLudoreve is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    phpLudoreve is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with phpLudoreve.  If not, see <http://www.gnu.org/licenses/>.
*/

html,body {
background-color : #bbbbff !important;
color : #552222;
}

table {
border-style:none; 
border-width:0px; 
border-color:black;
background-color : #ccccff;
width: 95%;
}

p,ul,li,tr {
font-size : 90%;
font-family : sans-serif;
color : #442222;
background-color : #ccccff;
}

#tr_alterne{
background-color : #bbbbbb;
}

th {
background-color: #aaaaff;
border:0;
}

td {
text-align:center;
}

h1 {
font-size : 150%;
font-family : sans-serif;
color : #552222;
text-align: center;
}
	
h2 {
font-size : 125%;
font-family : sans-serif;
color : #662222;
padding-left:15px;
}

h3 {
font-size : 100%;
font-family : sans-serif;
color : #772222;
padding-left:15px;
}

input {
border:1px dashed #772222;
background-color:#ddddff;
color : #441111;
font-family:"trebuchet ms",sans-serif;
}

textarea {
border:1px dashed #772222;
background-color:#ddddff;
color : #441111;
font-family:"trebuchet ms",sans-serif;
}

a:link {color: #772222; text-decoration:none;}
a:visited {color: #772222; text-decoration:none;}
a:hover {color:#2222CC; text-decoration:none;}

.logo {
border-style:none; 
border-width:1px; 
border-color:black; 
background-color:transparent; 
width:152px; 
padding:1px; 
height:132px;
position:absolute;
left: 1px;
top:1px;
z-index: 2;
}

.nomlogo {
border-style:none; 
border-width:1px; 
border-color:black; 
background-color:transparent; 
/* width:152px;  */
padding:1px; 
/* height:132px; */
position:absolute;
left: 154px;
top:1px;
z-index: 2;
}

.corps {
position:absolute;
width: 95%;
left: 5%;
top:50px;
text-align:center;
z-index: 1;
}

img {
border-style:none; 
}

OPTION.old{background-color:red; color:white}
OPTION.good{background-color:white; color:black}
